



// Variable Overrides 

    // General Toggle Overrides
    $enable-rounded: false;
    $enable-shadows: true;
    $enable-gradients: false;
    $enable-grid-classes: true;
    $enable-print-styles: true;

    // Color Overrides
    $yellow:  #F4A830;
    $light-yellow: #e4be6e;
    $gray: #333333;
    $offwhite: #fef9f0;
    $green: #019D49;
    $red: #ED2224;
    $white: #fff;
    $primary:  $yellow;
    $secondary: $gray;
    $body-bg:  $offwhite;

    // Navigation Overrides
    $nav-link-padding-x:                1.25rem !default;
    $navbar-nav-link-padding-x:   1rem;


    // Font Overrides
        
        // Font Base
        $font-family-sans-serif:     "Lato", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
        $font-family-serif:  'Frank Ruhl Libre', serif;
        $font-family-base:            $font-family-serif;
        $font-size-base:              .9rem; // Assumes the browser default, typically `16px`
        $font-size-lg:                $font-size-base * 1.25;
        $font-weight-bold:            900;
        
           
            // Headings
            $headings-font-family:        $font-family-sans-serif;
            $headings-font-weight:        900;
            $headings-line-height:        1.2;
            $headings-color:              $secondary;
            $h1-font-size:                $font-size-base * 2;
            $h2-font-size:                $font-size-base * 1.75;
            $h3-font-size:                $font-size-base * 1.5;
            $h4-font-size:                $font-size-base * 1.5;
            $h5-font-size:                $font-size-base * 1.25;
            $h6-font-size:                $font-size-base;
            $h1-font-size:                $font-size-base * 2.5;
            
            // Lead Font (subhead)
            $lead-font-size:              $font-size-base;
            $lead-font-weight:            300;
            .lead {
                font-weight: $lead-font-weight;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            // Display Overrides
            $display1-size:               3.5rem;
            $display2-size:               2.25rem;
            $display3-size:               1.75rem;
            $display4-size:               1.5rem;

            $display1-weight:             900;
            $display2-weight:             900;
            $display3-weight:             900;
            $display4-weight:             900;
    
    
    // Button Overrides
            
            // Button Font
            $input-btn-font-family: $font-family-sans-serif;

            // Button Radius
            $border-radius:     0px;
            $border-radius-lg:  0px;
            $border-radius-sm:  0px;

            // Button Padding
            $input-btn-padding-y:   .5rem;
            $input-btn-padding-x:   1.75rem;
            $input-btn-padding-y-sm:   .5rem;
            $input-btn-padding-x-sm:   1.75rem;

            // Button Colors 
            

        // Link Overrides

            // Nav Overrides

                // Nav Padding
                $nav-link-padding-y:                .5rem;
                $nav-link-padding-x:                1rem;



// Custom Mixins

    // Centered Background Basics
    @mixin background-image-center {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    @mixin section-padding($sec-padding) {
        padding-top: $sec-padding;
        padding-bottom: $sec-padding;
    }

        // Background Image
        @mixin full-background-image($backgroundURL) {
            background-image: url($backgroundURL);
            @include background-image-center;
        }

        // Background Image solid overlay. Needs Color, URL Variables
        @mixin solid-overlay($overlay-color, $backgroundURL) {
            background-image: linear-gradient(
                90deg, 
                $overlay-color 0%, 
                $overlay-color 100%),
                url($backgroundURL);
                @include background-image-center;
        }

        // Background Image Gradient Overlay from 0-50%. Needs Color left, right, URL Variables
        @mixin gradient-overlay($color-left, $color-right, $backgroundURL) {
            background-image: linear-gradient(
                90deg, 
                $color-left 0%, 
                $color-right 75%, 
                rgba(0,0,0,0) 100%),
                url($backgroundURL);
                @include background-image-center;
        }

    // Box-Shadow 
        @mixin hover-shadow{
            box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15) !important;
            -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
        }
 


// Custom Styles
header, section, footer, aside, nav, main, article, figure {
    display: block;
  }
    // Hero Sections
    .title-section {
        @include gradient-overlay(rgba(0,0,0,.75), rgba(0,0,0,.01), "../images/title-section-chef-made.jpg");
        @include section-padding(125px);
    }
    .title-secondary {
        @include solid-overlay(rgba(244, 169, 48, 0.8) , "../images/title-secondary-pasta.jpg");
        @include section-padding(25px);
    }
    .center-content-section {
        @include section-padding(125px);
        img {
            width: 100%;
        }
    }
    .section-white {
        background-color: $white;
    }
    .better-pasta-section {
        background-image: url("../images/semolina-wheat-background.jpg");
        @include background-image-center;
        @include section-padding(150px);
    }
    .trulli-homemade-section {
        img {
            max-width: 100%;
        }
    }

    // Navigation 
    nav {
        background-color: $offwhite;
    }

    // Button Styles
     .btn, button {
         text-transform: uppercase;
         letter-spacing: 2px;
     }
     button {

     }
     .btn-primary {
         color: $white !important;
     }
     .btn-light {
        background: $white !important;
    }
     .btn-light:hover, .btn-light:active, .btn-light:focus {
        background: $offwhite !important;
     }

    .btn-green {
        background: $green !important;
        color: $white !important;
        border-color: $green !important;
    }


     // Text Styles
     .sans-serif {
        font-family: $font-family-sans-serif !important;
     }



     // Color Styles
     .red {
        color: $red;
     }
     .green {
         color: $green;
     }

     .light-yellow {
         color: $light-yellow;
     }

                
     // Products Styles
    .product-display {
        .product-card {
            .card-footer {
                height: auto;
            }
            .btn {
                margin-bottom: -55px;
            }
        }
    }

    // Shadow Hover
    .shadow:hover, .shadow:focus {
        @include hover-shadow;
    }



// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";