



// Variable Overrides 

    // General Toggle Overrides
    $enable-rounded: false;
    $enable-shadows: true;
    $enable-gradients: false;
    $enable-grid-classes: true;
    $enable-print-styles: true;

    // Color Overrides
    $yellow:  #F4A830;
    $light-yellow: #e4be6e;
    $gray: #333333;
    $offwhite: #fef9f0;
    $green: #019D49;
    $red: #ED2224;
    $white: #fff;
    $black:    #000 !default;
    $primary:  $yellow;
    $secondary: $gray;
    $body-bg:  $offwhite;

    // Navigation Overrides
    $nav-link-padding-x:                1.25rem !default;
    $navbar-nav-link-padding-x:   1rem;


    // Font Overrides
        
        // Font Base
        $font-family-sans-serif:     "Lato", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
        $font-family-serif:  'Frank Ruhl Libre', serif;
        $font-family-base:            $font-family-serif;
        $font-size-base:              .9rem; // Assumes the browser default, typically `16px`
        $font-size-lg:                $font-size-base * 1.25;
        $font-weight-bold:            900;
        
           
            // Headings
            $headings-font-family:        $font-family-sans-serif;
            $headings-font-weight:        900;
            $headings-line-height:        1.2;
            $headings-color:              $secondary;
            $h1-font-size:                $font-size-base * 2;
            $h2-font-size:                $font-size-base * 1.75;
            $h3-font-size:                $font-size-base * 1.5;
            $h4-font-size:                $font-size-base * 1.5;
            $h5-font-size:                $font-size-base * 1.25;
            $h6-font-size:                $font-size-base;
            $h1-font-size:                $font-size-base * 2.5;
            
            // Lead Font (subhead)
            $lead-font-size:              $font-size-base;
            $lead-font-weight:            300;
            .lead {
                font-weight: $lead-font-weight;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            // Display Overrides
            $display1-size:               3.5rem;
            $display2-size:               2.25rem;
            $display3-size:               1.75rem;
            $display4-size:               1.5rem;

            $display1-weight:             900;
            $display2-weight:             900;
            $display3-weight:             900;
            $display4-weight:             900;
    
    
    // Button Overrides
            
            // Button Font
            $input-btn-font-family: $font-family-sans-serif;

            // Button Radius
            $border-radius:     0px;
            $border-radius-lg:  0px;
            $border-radius-sm:  0px;

            // Button Padding
            $input-btn-padding-y:   .5rem;
            $input-btn-padding-x:   1.75rem;
            $input-btn-padding-y-sm:   .5rem;
            $input-btn-padding-x-sm:   1.75rem;

            // Button Colors 
            

        // Link Overrides

            // Nav Overrides

                // Nav Padding
                $nav-link-padding-y:                .5rem;
                $nav-link-padding-x:                1rem;
        
        // Modal Overrides
        $modal-backdrop-bg:                 $white !default;
        $modal-backdrop-opacity:            .8 !default;
        $modal-content-box-shadow-xs:       0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
        $modal-content-box-shadow-sm-up:    0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
        $modal-inner-padding:               2rem !default;



// Custom Mixins

    // Centered Background Basics
    @mixin background-image-center {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    @mixin section-padding($sec-padding) {
        padding-top: $sec-padding;
        padding-bottom: $sec-padding;
    }

        // Background Image
        @mixin full-background-image($backgroundURL) {
            background-image: url($backgroundURL);
            @include background-image-center;
        }

        // Background Image solid overlay. Needs Color, URL Variables
        @mixin solid-overlay($overlay-color, $backgroundURL) {
            background-image: linear-gradient(
                90deg, 
                $overlay-color 0%, 
                $overlay-color 100%),
                url($backgroundURL);
                @include background-image-center;
        }

        // Background Image Gradient Overlay from 0-50%. Needs Color left, right, URL Variables
        @mixin gradient-overlay($color-left, $color-right, $backgroundURL) {
            background-image: linear-gradient(
                90deg, 
                $color-left 0%, 
                $color-right 75%, 
                rgba(0,0,0,0) 100%),
                url($backgroundURL);
                @include background-image-center;
        }

    // Box-Shadow 
        @mixin hover-shadow{
            box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15) !important;
            -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
        }
 


// Custom Styles
header, section, footer, aside, nav, main, article, figure {
    display: block;
  }
    // Hero Sections
    .title-section {
        @include gradient-overlay(rgba(0,0,0,.75), rgba(0,0,0,.01), "../images/title-section-chef-made.jpg");
        @include section-padding(125px);
    }
    .title-secondary {
        @include solid-overlay(rgba(244, 169, 48, 0.8) , "../images/title-secondary-pasta.jpg");
        @include section-padding(25px);
    }
    .center-content-section {
        @include section-padding(125px);
        img {
            width: 100%;
        }
    }
    .section-white {
        background-color: $white;
    }
    .better-pasta-section {
        background-image: url("../images/semolina-wheat-background.jpg");
        @include background-image-center;
        @include section-padding(150px);
    }
    .trulli-homemade-section {
        img {
            max-width: 100%;
        }
    }
    .page-title-template {
        @include background-image-center;
        padding-top: 250px;
    }
    .ingredients-title {
        @include solid-overlay(rgba(0, 0, 0, 0.2) , "/src/images/semolina-wheat-background.jpg");
    }
    .about-title {
        @include solid-overlay(rgba(0, 0, 0, 0.2) , "/src/images/coastal-italian-town.jpg");
    }
    .semolina-title {
        @include solid-overlay(rgba(0, 0, 0, 0.2) , "/src/images/semolina-wheat-in-field.jpg");
    }

    .product-title {
        @include solid-overlay(rgba(0, 0, 0, 0.2) , "/src/images/products/pastas/pesto-ingredients.jpg");
    }

    .login-title {
        @include solid-overlay(rgba(0, 0, 0, 0.2) , "/src/images/alberobello-trulli-houses.jpg");
        padding-bottom: 150px;
    }

    .my-account-title {
        @include solid-overlay(rgba(0, 0, 0, 0.2) , "/src/images/title-secondary-pasta.jpg");
    }


    // Navigation 
    nav {
        background-color: $offwhite;
    }

    // Button Styles
     .btn, button {
         text-transform: uppercase;
         letter-spacing: 2px;
     }

     .btn-primary {
         color: $white !important;
     }
     .btn-light {
        background: $white !important;
    }
     .btn-light:hover, .btn-light:active, .btn-light:focus {
        background: $offwhite !important;
     }

    .btn-green {
        background: $green !important;
        color: $white !important;
        border-color: $green !important;
    }


     // Text Styles
     .sans-serif {
        font-family: $font-family-sans-serif !important;
     }



     // Color Styles
     .red {
        color: $red;
     }
     .green {
         color: $green;
     }

     .light-yellow {
         color: $light-yellow;
     }

     .white {
         color: $white;
     }

                
     // Products Styles
    .product-display {
        .product-card {
            .card-footer {
                height: auto;
            }
            .btn {
                margin-bottom: -55px;
            }
        }
    }


    // Shadow Hover
    .shadow:hover, .shadow:focus {
        @include hover-shadow;
    }


    // Order Modal
    #orderModal {
        .modal-body {
            img {
                width: 100%;
            }
        }
    }

    .modal-visible {
        display: block !important;
        transition-duration: 1s;
        transition-timing-function: linear;
        transition-property: display;

    }

    .modal {    

        
        .nav-pills .nav-link.active,  .nav-pills .show > .nav-link {
            background-color: $green;
            color: $white;
        }
        
        .nav-pills .nav-link {
            background-color: $primary;
            color: $white;
        }

        .nav-pills .tab-description {
            font-size: .65rem;
            color: $primary;
            text-transform: uppercase;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color: $primary;
             background-color: #FDF1DD;         }

        .nav-pills .nav-link.active .tab-description,  .nav-pills .show > .nav-link .tab-description {
            background-color: $white;
            color: $green;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color: $green;
            background-color: #F4FFF9;         
        }


        .radio-select {
            .radio-text {
                font-size: .75rem;
                transition-duration: 200ms;
                transition-timing-function: cubic-bezier();
            }

            img {
                transition-duration: 200ms;
                transition-timing-function: cubic-bezier();
            }

            /* HIDE RADIO */
                [type=radio] { 
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
                
                /* IMAGE STYLES */
                [type=radio] + img {
                    cursor: pointer;
                }
                
                /* CHECKED STYLES */
                [type=radio]:checked + img  {
                    outline: 4px solid $green;
                    color: $green;
                }

                [type=radio]:checked + img + .radio-text {
                        color: $green;
                    }
                

        }
    }







  // Multi Step Form CSS ******************************************************
        .multisteps-form__progress {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
          }
          
          .multisteps-form__progress-btn {
            transition-property: all;
            transition-duration: 0.5s;
            transition-timing-function: linear;
            transition-delay: 0s;
            position: relative;
            padding-top: 20px;
            color: $black;
            text-indent: -9999px;
            border: none;
            background-color: transparent;
            outline: none !important;
            cursor: pointer;
          }
          
          @media (min-width: 500px) {
            .multisteps-form__progress-btn {
              text-indent: 0;
            }
          }
          
          .multisteps-form__progress-btn:before {
            position: absolute;
            top: 0;
            left: 50%;
            display: block;
            width: 13px;
            height: 13px;
            content: '';
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
            transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
            transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
            border: 2px solid currentColor;
            border-radius: 50%;
            background-color: #fff;
            box-sizing: border-box;
            z-index: 3;
          }
          
          .multisteps-form__progress-btn:after {
            position: absolute;
            top: 5px;
            left: calc(-50% - 13px / 2);
            transition-property: all;
            transition-duration: 0.15s;
            transition-timing-function: linear;
            transition-delay: 0s;
            display: block;
            width: 100%;
            height: 2px;
            content: '';
            background-color: currentColor;
            z-index: 1;
          }
          
          .multisteps-form__progress-btn:first-child:after {
            display: none;
          }
          
          .multisteps-form__progress-btn.js-active {
            color:$green;
          }
          
          .multisteps-form__progress-btn.js-active:before {
            -webkit-transform: translateX(-50%) scale(1.2);
                    transform: translateX(-50%) scale(1.2);
            background-color: currentColor;
          }
          
          .multisteps-form__form {
            position: relative;
          }
          
          .multisteps-form__panel {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            opacity: 0;
            visibility: hidden;
          }
          
          .multisteps-form__panel.js-active {
            height: auto;
            opacity: 1;
            visibility: visible;
          }

          .multisteps-form__panel[data-animation="scaleIn"] {
            -webkit-transform: scale(0.9);
                    transform: scale(0.9);
          }
          
          .multisteps-form__panel[data-animation="scaleIn"].js-active {
            transition-property: all;
            transition-duration: 0.2s;
            transition-timing-function: linear;
            transition-delay: 0s;
            -webkit-transform: scale(1);
                    transform: scale(1);
          }


    // Form Tweaks 
    :root {
        --input-padding-x: .75rem;
        --input-padding-y: .75rem;
    }
    
    .form-signin {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: 0 auto;
    }
    
    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }
    
    .form-label-group > input,
    .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x);
    }
    
    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0; /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }
    
    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }
    
    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }
    
    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }
    
    .form-label-group input::-moz-placeholder {
        color: transparent;
    }
    
    .form-label-group input::placeholder {
        color: transparent;
    }
    
    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
    }
    
    .form-label-group input:not(:placeholder-shown) ~ label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
    }


    // My Account Page 

    .my-orders 
    {
            tr.hide-table-padding td {
            padding: 0;
        }
        
        .expand-button {
            position: relative;
        }
        
        .accordion-toggle .expand-button:after
        {
            position: absolute;
            left:.75rem;
            top: 50%;
            transform: translate(0, -50%);
            content: '-';
        }
        .accordion-toggle.collapsed .expand-button:after
        {
            content: '+';
        }
    }

    .payment-method {
        tr {
            width: 100%;
        }
        th {
            width: 20%;
        }
    }







// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";